.tabs {
  flex: 0 1 5%;
  padding: 10px;
  background-color: red;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 1px 1px black;
  z-index: 2;
}

.highlight-tab {
  background-color: black;
  color: white;
}
