.home {
  background-image: url("../../assets/nf.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin-top: -56px;
  margin-bottom: -57px;
  background-attachment: fixed;
  position: relative;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0px);
  z-index: 2;
  transition: background-color 1s, backdrop-filter 1s ease-in;
}

.home.dim::before {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.home-content {
  padding-top: 70px;
  display: flex;
  justify-content: center;
}
.search {
  flex: 0 1 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
}

.search label {
  margin: 0px;
}
.searchBar {
  flex: 0 1 30%;
}
.search-button {
  flex: 0 1 15%;
  height: 100%;
}
.submit-search {
  width: 100%;
  font-size: 25px;
  height: 100%;
  background-color: red;
  border: none;
  box-shadow: 0px 0px 1px 1px black;
}

.searchBar input {
  background-color: rgba(0, 0, 0, 0.9);
  outline: white;
  border: solid 2px white;
  color: white;
  font-size: 25px;
}
.searchBar input:focus {
  border: solid 2px white;
}
.searchBar {
  min-width: 300px;
}
.tabs-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: start;
  margin-top: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.movies-container {
  display: flex;
  margin-top: 20px;

  flex-wrap: wrap;

  gap: 10px;
  justify-content: center;
}
